<div class="sales_order_row">
  <%= sales_order_row.name %>
  <%= sales_order_row.order_quantity %>
  <%= sales_order_row.unit_price %>
  <%= sales_order_row.discount_amount%>
  <br/>
  <br/>
</div>

