<p id="notice"><%= notice %></p>

<p>
  <b>Warehouse:</b>
  <%= @warehouse_inventory.warehouse %>
</p>


<%= link_to 'Edit', edit_warehouse_inventory_path(@warehouse_inventory) %> |
<%= link_to 'Back', warehouse_inventories_path %>
