<div class="purchase_order">
  <select class="purchase_orders" name='supply[supply_rows_attributes][][purchase_order_id]'><!-- the idea is that the empty [] will hold the id of the p_order once its selected -->
    <option value="">Select a purchase order</option>
    <% PurchaseOrder.all.each do |purchase_order| %>
    <option value='<%= purchase_order.id %>'>
      <%= purchase_order.order_number%>
    </option>
    <% end %>
  </select>
  <%= link_to_remove_purchase_order('remove', f) %>
  <br/>
</div>
